
@using Microsoft.AspNetCore.Http
@using RentersLife.Controllers
@using RentersLife.Utilities

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] RentersLife</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>       
    @{
        ViewBag.User = LoggedinUser.GetAccount(Context);
    }
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <img src="images/renters-life.png" width="60" class="img-fluid" alt="logo">
            <div class="d-flex">
                <label>@ViewBag.User.Email</label>
            </div>         
        </div>
    </nav>
    <section class="vh-100">
        <div class="container py-5 h-100">
            @RenderBody()
        </div>
    </section>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
