@model RentersLife.ViewModels.ErrorViewModel

<div class="div-center">
    <div class="content">
      
        @if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
        {
            <p>
                <h3>Error: <code>@Model.ErrorMessage</code></h3>
            </p>
        }
        else
        {
            <h2 class="text-danger">Error: </h2>
            <h3 class="text-danger">Login failure occurred while processing your request.</h3>
        }

    </div>
</div>