@model RentersLife.ViewModels.LoginViewModel;

<div class="form-center">
    <div class="form-content">
        <div>
            <h3>Login</h3>
             <a asp-controller="Register" asp-action="Index">sign up</a>
         </div>
        <hr />
        <form asp-action="Login" name="userLoginForm">
            <div class="form-group">
                <label asp-for="Email">Email:</label>
                <input id="Email" name="Email" class="form-control" type="email" placeholder="Email" asp-for="Email">
            </div>
            <div class="form-group">
                <label asp-for="Password">Password:</label>
                <input id="Password" name="Password" class="form-control" type="text" placeholder="Password" asp-for="Password">
            </div>
            <input id="userLogin" type="submit" class="btn btn-primary btn-outline-light" value="Login">
        </form>
    </div>  
</div>

@section scripts {    
    <script>    
        $(document).ready(function() {
          $("form[name='userLoginForm']").validate({
              rules: {                                 
                  Email: {
                      required: true,
                      email: true
                  },
                  Password: {
                      required: true,
                      minlength: 5
                  }
              },
              messages: {
                  Password: {
                      required: "Please provide a password",
                      minlength: "Password must be at least 5 characters long"
                  },
                  Email: "Please enter a valid email address"
              },
              submitHandler: function (form) {
                  form.submit();
              }

          });

        });

    </script>
}
