@model RentersLife.Core.ViewModels.LoginViewModel;

<div class="row d-flex align-items-center justify-content-center h-100">
    <div class="col-md-8 col-lg-7 col-xl-6">
        <img src="images/renters-life.png" class="img-fluid" alt="logo">
    </div>
    <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
        <form asp-action="Login" name="userLoginForm">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="Email">Email:</label>
                <input asp-for="Email" id="Email" name="Email" type="email" class="form-control form-control-lg" placeholder="Email" />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
                <label class="form-label" asp-for="Password">Password:</label>
                <input id="Password" name="Password" type="password" class="form-control form-control-lg" placeholder="Password" asp-for="Password" />
            </div>

            <div class="d-flex justify-content-around align-items-center mb-4">               
                <a asp-controller="Register" asp-action="Index">Not a member, sign up.</a>
            </div>

            <!-- Submit button -->
            <button id="userLogin" type="submit" class="btn btn-primary btn-lg btn-block">Login</button>

        </form>
    </div>
</div>


@section scripts {
<script>

    $(document).ready(function() {
      $("form[name='userLoginForm']").validate({
          rules: {
              Email: {
                  required: true,
                  email: true
              },
              Password: {
                  required: true,
                  minlength: 5
              }
          },
          messages: {
              Password: {
                  required: "Please provide a password",
                  minlength: "Password must be at least 5 characters long"
              },
              Email: "Please enter a valid email address"
          },
          submitHandler: function (form) {
              form.submit();
          }

      });

    });

</script>
    }
