@model RentersLife.ViewModels.ErrorViewModel
<div class="center">
    <div class="content">
        @if (!string.IsNullOrWhiteSpace(Model.LoginErrorMessage))
        {
            <p>
                <h3>Error: @Model.LoginErrorMessage</h3>
                <div><a asp-controller="Login" asp-action="Index"><input class="btn btn-primary btn-outline-light" value="Login"></a></div>
            </p>
        }
        else if (!string.IsNullOrWhiteSpace(Model.RegistationErrorMessage))
        {
             <p>
                <h3>Error: @Model.RegistationErrorMessage </h3>                
                <div><a asp-controller="Register" asp-action="Index"><input class="btn btn-primary btn-outline-light" value="Register"></a></div>
            </p>
        }
        else
        {
            <h2 class="text-danger">Error: </h2>
            <h3 class="text-danger">Occurred while processing your request.</h3>
        }

    </div>
</div>