* {
    transition: all 0.3s ease-in-out;
}

body {
    background-color: black;
}

.container {
    clear: both;
    overflow: auto;
}

nav {
    float: right;
}

.logo img {
    float: left;
}

ul li {
    display: inline-block;
    padding: 10px;
    font-size: 20px;
    font-family: raleway;    
}

a {
    color: white;   
}

a:hover {
    color: orange;
}


/* forms */
.form-group {
    width: 200%;
}

form .error {
    color: #ff0000;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%; 
    width: 90%;
}


.content {
    color: white;
}
